body{
    background-color: rgb(26, 116, 219);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#sign{
    margin-top: 5%;
}
#login{
    margin-top: 6%;
    margin-left: 31%;
    background-color: white;
    border-radius: 4%;
    
    width: 40%;
    height: 80%;
    
}

label  {
margin-left: 10%;

}
#password,#email{
margin-left: 10%;
border-color: rgb(223, 222, 222);
border-style: solid;
border-radius: 5px;
padding: 2%;
width: 78%;
}
#check{
    margin-left: 10%;

}
#submit{
    text-align: center;
    background-color: rgb(26, 116, 219);
    border-radius: 5px;
    width: 78%;
    border-style: solid;
    padding: 2%;
    color: white;
    margin-left: 12%;

}
#forgot{
    margin-left: 70%;
}
#login 
h1{
    text-align: center;
}