<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <main>
      <section class="full-width">
        <div>
          <h1 class="display-1">The Show Must Go On</h1>
        </div>
      </section>
    </main>
  </body>
</html>
