<div class="container" style="position: relative;">

    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
                <div class="modal-header">
                   <h5 class="modal-title" id="exampleModalToggleLabel">Contact Form</h5>
                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!--Body Modal-->
                <div class="modal-body">
                    
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="tboxfirstname" placeholder="" name="firstname">
                    </div>
                    
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="tboxlastname" placeholder="name@example.com" name="lastname">
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="tboxemail" placeholder="name@example.com" name="email">
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Mobile #</label>
                        <input type="text" class="form-control" id="tboxmobile" placeholder="809-xxx-xxxx" name="mobile">
                    </div>


                </div>

                <div class="modal-footer">
                    <button class="btn btn-warning text-white" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                    <button class="btn btn-success" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Save</button>
                    <button class="btn btn-danger" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Delete</button>
                </div>
          </div>
        </div>

    </div>

    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalToggleLabel2">Modal 2</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Hide this modal and show the first with the button below.
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Back to first</button>
            </div>
          </div>
        </div>
    </div>

    <a class="btn btn-success mt-4 button-direction-left" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Add New Record</a>



    <h1 class="fs-2 text mt-5">
        My Contacts:
    </h1>

    <%- require('../partials/home-table.ejs') %>

</div>