<nav class="navbar navbar-light nav-bar-background">
  <div class="container">
    <a class="navbar-brand text-white" href="#">
      <i> <%- include('../svg/agenda.svg') %> </i> CONTACTS AGENT
    </a>

    <a href="#" class="text-white"> <%- include('../svg/exit.svg') %> </a>
  </div>
</nav>
