<div class="container" style="position: relative">
  
  <%- include('../partials/insert-modal.ejs') %>

  <h1 class="fs-2 text mt-5"><i><%- include('../svg/ufo.svg') %>  My Contacts:</h1>

  <%- include('../partials/home-table.ejs') %>

</div>